@use 'mixin' as mixin;

.comment-wrapper {
  p {
    width: 100px;
  }
}

@include mixin.mobile-screen() {
  .comment-wrapper {
    p{
      margin: 0;
      text-align: end;
      width: 100%;
    }
  }
}
