<button class="back-btn" (click)="back()"><mat-icon>arrow_back</mat-icon></button>

<div class="desktop-hide">
  <img src="/assets/logo_p6.png" alt="Logo" class="w-full"/>
</div>

<div class="flex flex-auto flex-col align-items-center gap-16">
  <h1>Se connecter</h1>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="flex flex-col justify-content-center gap-12">
    <div class="form-group mb-20">
      <label for="login">E-mail ou nom d'utilisateur</label>
      <input
        type="text"
        id="login"
        formControlName="login"
        [class.error]="isFieldInvalid('login')"
      />
      @if (isFieldInvalid('login')) {
        <div class="error-message">
          {{ getErrorMessage('login') }}
        </div>
      }
    </div>

    <div class="form-group mb-20">
      <label for="password">Mot de passe</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        [class.error]="isFieldInvalid('password')"
      />
      @if (isFieldInvalid('password')) {
        <div class="error-message">
          {{ getErrorMessage('password') }}
        </div>
      }
    </div>

    @if (errorMessage) {
      <div class="error-message mb-20">
        {{ errorMessage }}
      </div>
    }

    <div class="center-m">
      <button
        type="submit"
        class="flex-1 xs-w-full nowrap"
        matButton="filled"
        color="primary"
        [disabled]="isLoading"
      >
        {{ isLoading ? 'Connexion...' : 'Se connecter' }}
      </button>
    </div>
  </form>
</div>

