@use './mixin' as mixin;

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-auto {
  flex: 1 1 auto;
}

.flex-1 {
  flex: 1 1 0;
}

.center-m {
  margin: 0 auto;
}

.space-between {
  justify-content: space-between;
}


.xs-flex-col {
  @include mixin.mobile-screen() {
    flex-direction: column;
  }
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.h-full {
  height: 100vh;
}

.gap-12 {
  gap: 12px;
}

.gap-16 {
  gap: 16px;
}

.text-sm {
  font-size: 0.75rem;
}

.text-lg {
  font-size: 1.5rem;
}

.text-semibold {
  font-weight: 500;
}

.text-bold {
  font-weight: 700;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.m-10 {
  margin: 10px;
}

.m-20 {
  margin: 20px;
}

.my-2 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.my-20 {
  margin-bottom: 20px !important;
  margin-top: 20px !important;
}

.p-12 {
  padding: 12px;
}

.p-20 {
  padding: 20px;
}

.p-40 {
  padding: 40px;
}

.px-12 {
  padding-left: 12px;
  padding-right: 12px;
}

.py-6 {
  padding-top: 6px;
  padding-bottom: 6px;
}

.w-half {
  width: 50%;
}

.w-full {
  width: 100%;
}

.hide {
  display: none;
}

.nowrap {
  white-space: nowrap;
}


.xs-hide {
  @include mixin.mobile-screen() {
    display: none;
  }
}

.xs-show {
  @include mixin.mobile-screen() {
    display: block;
  }
}

.xs-w-full {
  @include mixin.mobile-screen() {
    width: 100%;
  }
}

.xl-flex-1 {
  @include mixin.desktop-screen() {
    flex: 1 1 0;
  }
}

.desktop-hide {

  @include mixin.desktop-screen() {
    display: none;
  }
}

//mixin mobile
