:root {
  --font-family: 'Montserrat', sans-serif;
  --text-black: #000000;
  --text-white: #FFFFFF;
  --gray: #EEEEEE;

  --primary: #7763C5;
  --danger: #A40F0F;

  --border: 1px solid var(--text-black);
  --radius: 16px;
  --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}
