.card {
  height: 100%;
  border-radius: var(--radius);
  background-color: var(--gray);
  padding: 20px;

  p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  button {
    width: 170px;
  }

}
