<button class="back-btn" (click)="back()">←</button>

<div class="container">
  <h2 class="text-center">Créer un nouvel article</h2>

  <form [formGroup]="articleForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <select formControlName="theme" [class.error]="theme?.invalid && theme?.touched">
        <option value="">Sélectionner un thème</option>
        @for (themeOption of themes(); track themeOption.id) {
          <option [value]="themeOption.id">{{ themeOption.title }}</option>
        }
      </select>

      @if (theme?.invalid && theme?.touched) {
        <div class="error-message">
          <span>Veuillez sélectionner un thème</span>
        </div>
      }
    </div>

    <div class="form-group">
      <input
        type="text"
        formControlName="title"
        placeholder="Titre de l'article"
        [class.error]="title?.invalid && title?.touched">

      @if (title?.invalid && title?.touched) {
        <div class="error-message">
          @if (title?.errors?.['required']) {
            <span>Le titre est requis</span>
          }
          @if (title?.errors?.['minlength']) {
            <span>Le titre doit contenir au moins 5 caractères</span>
          }
          @if (title?.errors?.['maxlength']) {
            <span>Le titre ne peut pas dépasser 100 caractères</span>
          }
        </div>
      }
    </div>

    <div class="form-group">
      <textarea
        formControlName="content"
        cols="30"
        rows="10"
        placeholder="Contenu de l'article"
        [class.error]="content?.invalid && content?.touched">
      </textarea>

      @if (content?.invalid && content?.touched) {
        <div class="error-message">
          @if (content?.errors?.['required']) {
            <span>Le contenu est requis</span>
          }
          @if (content?.errors?.['minlength']) {
            <span>Le contenu doit contenir au moins 50 caractères</span>
          }
          @if (content?.errors?.['maxlength']) {
            <span>Le contenu ne peut pas dépasser 2000 caractères</span>
          }
        </div>
      }
    </div>

      <div class="flex justify-content-center">
          <button
                  type="submit"
                  matButton="filled"
                  color="primary"
                  [disabled]="articleForm.invalid || isSubmitting">
              @if (isSubmitting) {
                  Création...
              } @else {
                  Créer
              }
          </button>
      </div>

  </form>
</div>

