@use 'mixin' as mixin;

.container {
  width: 400px;
  margin: 0 auto;

  input, select, textarea {
    border: 2px solid var(--primary);
  }
}

@include mixin.mobile-screen() {
  .container {
    margin-top: 150px;
  }
}

