<header class="header">
  <!-- Logo -->
  <div class="logo">
    <img src="/assets/logo_p6.png" alt="Logo" />
  </div>

  @if (sessionService.isLoggedIn()) {
    <nav class="desktop-nav">
      <button mat-button class="nav-item logout" (click)="logout()">
        Se déconnecter
      </button>
      <button mat-button class="nav-item" routerLink="/articles" routerLinkActive="active">
        Articles
      </button>
      <button mat-button class="nav-item" routerLink="/themes" routerLinkActive="active">
        Thème
      </button>
      <div class="user-avatar" routerLink="/profile" routerLinkActive="active active-logo">
        <mat-icon>person</mat-icon>
      </div>
    </nav>

    <!-- Menu Mobile -->
    <div class="mobile-nav">
      <button mat-icon-button (click)="toggleMobileMenu()" class="menu-toggle">
        <mat-icon>{{ isMobileMenuOpen() ? 'close' : 'menu' }}</mat-icon>
      </button>
    </div>

    <!-- Overlay Mobile -->
    <div
      class="mobile-overlay"
      [class.active]="isMobileMenuOpen()"
      (click)="closeMobileMenu()">
    </div>

    <!-- Menu Mobile -->
    <div class="mobile-menu" [class.active]="isMobileMenuOpen()">
      <div class="mobile-menu-content">
        <button mat-button class="mobile-nav-item logout" (click)="logout()">
          Se déconnecter
        </button>
        <button mat-button class="mobile-nav-item" (click)="closeMobileMenu()" routerLink="/articles" routerLinkActive="active">
          Articles
        </button>
        <button mat-button class="mobile-nav-item" (click)="closeMobileMenu()" routerLink="/themes" routerLinkActive="active">
          Thème
        </button>


        <div class="mobile-user-section" >
          <div class="user-avatar" (click)="closeMobileMenu()" routerLink="/profile" routerLinkActive="active">
            <mat-icon>person</mat-icon>
          </div>
        </div>
      </div>
    </div>
  }
  <!-- Menu Desktop -->

</header>
